html, body, .container-fluid{
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.col-12{
    text-align:center;
    width: 100%;
}

.col-12 button{
    width: 100%;
}

.col-4{
    text-align: center;
    width: 100%;
}
.title-height{
    height : 10%;
}

.dice-height{
    height: 22%;
}

.text-height{
    height: 10%;
}

.button-height{
    height : 10%;
    bottom:0;
}

@media screen and (max-width: 767px) {
    .info-text{
        font-size:35px;
    }
    .app-title{
        font-size:45px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .info-text{
        font-size:45px;
    }
    .app-title{
        font-size:55px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .info-text{
        font-size:55px;
    }
    .app-title{
        font-size:65px;
    }
}

.dice-img{
    width: 100%;
    display: block;
}

.dice-effect {
    font-size: 100px;
    font-weight: 800;
  }

.dice-effect::after {
    content:'';
    animation: rolling 1s linear infinite;
}
  
@keyframes rolling {
    0% {content:'\2680';}
    20% {content:'\2681';}
    40% {content:'\2682';}
    60% {content:'\2683';}
    80% {content:'\2684';}
    100% {content:'\2685';}
}

.modalCenter{
    top:50% !important;
    transform:translateY(-50%) !important;
}

.dice-effect-cont{
    text-align: center;
}

.dice-selected{
    border:2px solid gray; 
    border-radius: 20px;
}