html, body, .container-fluid{
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.col-12{
    text-align:center;
    width: 100%;
}

.col-12 button{
    width: 100%;
}

.col-4{
    text-align: center;
    width: 100%;
}
.title-height{
    height : 10%;
}

.dice-height{
    height: 22%;
}

.text-height{
    height: 10%;
}

.button-height{
    height : 10%;
    bottom:0;
}

@media screen and (max-width: 767px) {
    .info-text{
        font-size:35px;
    }
    .app-title{
        font-size:45px;
    }
    i{
        font-size:100px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .info-text{
        font-size:45px;
    }
    .app-title{
        font-size:55px;
    }
    i{
        font-size:100px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .info-text{
        font-size:55px;
    }
    .app-title{
        font-size:65px;
    }
    i{
        font-size:100px;
    }
}

.dice-img{
    width: 100%;
    display: block;
}

.modal-cont{
    text-align: center;
}

.dice-selected{
    border:2px solid gray; 
    border-radius: 20px;
}

.rotate-dice-center {
	-webkit-animation: rotate-center 2s linear infinite;;
	        animation: rotate-center s linear infinite;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    width:inherit;
    height:inherit;
    margin: 0 auto;
}

@-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
@keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
}

.result-numbers{
    font-size:20px;
    text-align: center;
}

.total-result{
    text-align: center;
    font-size:50px;
}